<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="MaterialManageCtrl">
  <div class="col w-lg bg-light b-r bg-auto">  
    <div class="wrapper-md dker b-b">
      <h3 class="m-n font-thin">Select Course</h3>
    </div>    
    <div class="wrapper-md">      
      <div class="text-center" ng-hide="httpStatus1">
        <h4 class="text-center"><span><i class="fa fa-spinner fa-rotate-270 fa-spin"></i> Loading Courses....</span></h4>
      </div>
      <div class="col-sm-12">
        <select name="course" class="form-control m-b btn-primary" ng-options="course.course_code | uppercase for course in courses " ng-model="selected_course" ng-click="loadList(selected_course.course_code)">
        <option style="display:none" value="">Select a course</option>
        </select>
      </div>                  
    </div>
  </div>
  <div class="col">
    <div class="wrapper-md bg-light dk b-b">      
      <h3 class="m-n font-thin">Uploaded Files</h3>      
    </div>
    <div class="wrapper-md">
    <div class="text-center" ng-hide="httpStatus2">
        <h4 class="text-center"><span><i class="fa fa-spinner fa-rotate-270 fa-spin"></i> Loading File List....</span></h4>
      </div>
    <div class="col-sm-12">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
      <table class="table bg-white-only b-a" ng-show="found2">
          <thead>
              <tr>
                  <th width="35%">Name</th>
                  <th width="20%">Size</th>
                  <th width="15%">File Type</th>
                  <th width="30%">Time of upload</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="file in files">
                  <td><strong>{{file.file_name}}</strong></td>
                  <td nowrap>{{file.size/1024|number:2 }} kB</td>
                  <td nowrap>{{file.file_type | uppercase}}</td>
                  <td>{{file.date}}</td>                  
                  <td nowrap>                      
                      <button type="button" class="btn btn-primary btn-xs" ng-click="viewFile(selected_course.course_code,file.file_name)">View
                      </button> 
                      <button type="button" class="btn btn-info btn-xs" 
                      ng-click="file.file_type == 'quiz' ? processQuiz(selected_course.course_code,file.file_name): convertToSlides(selected_course.course_code,file.file_name)">{{file.file_type == 'quiz' ? 'Process file' : 'Convert to slides' }}
                      <i class="fa fa-spin fa-spinner" ng-show="loading2"  ng-class="{'fa-spin' : loading}"id="spin"></i>
                      </button>                      
                      <button type="button" class="btn btn-danger btn-xs" ng-click="delete(selected_course.course_code,file.file_name)"> <span class="glyphicon glyphicon-trash">
                        <i class="fa fa-spin fa-spinner" ng-show="loading"  ng-class="{'fa-spin' : loading}"id="spin"></i>
                      </span>                 
                      </button>
                  </td>
              </tr>
          </tbody>
      </table>      
    </div>
  </div>
</div>