<div class="container w-xxl w-auto-xs" ng-controller="Signin" ng-init="app.settings.container = false;">
  <a href class="navbar-brand block m-t">{{app.name}}</a>
  <div class="m-b-lg">
    <div class="wrapper text-center">
      <strong>Sign in to get access</strong>
    </div>
    <tabset class="tab-container">
      <tab>
        <tab-heading>
          <b>Student </b>
        </tab-heading>  
        <form name="formA" class="form-validation">      
          <div class="m-b-md">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
          </div>
          <div class="form-group">
             <input type="text" class="form-control" ng-model="user.identity" ng-pattern="/^[a-zA-Z0-9/]{12,14}$/" placeholder="Matric No" required > <!-- You might need to edit this for each school -->
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login('student')" ng-disabled='formA.$invalid'>
            <span class="text" ng-hide="loading">Sign in </span>
            <span class="text" ng-show="loading">Signing in... </span> 
            <i class="fa fa-spin fa-spinner" ng-show="loading"  ng-class="{'fa-spin' : loading}"id="spin"></i>
          </button>       
        </form>           
      </tab>    
      <tab>
        <tab-heading>
          <b>Instructor</b>
        </tab-heading>  
        <form name="form" class="form-validation">
          <div class="m-b-md">
              <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
          </div> 
          <!-- <div class="form-group">
              <label>Identification Number <em class="text-muted">(Matric No or Staff ID)</em></label>
              <input type="text" class="form-control" ng-model="user.matric_no" ng-pattern="/^[a-zA-Z0-9/]{11,14}$/" required >
          </div>
          <div class="form-group">
              <label>Identification Number <em class="text-muted">(Matric No or Staff ID)</em></label>
              <input type="text" class="form-control" ng-model="user.matric_no" ng-pattern="/^[a-zA-Z0-9/]{11,14}$/" required >
          </div> -->
          <div class="form-group">
             <input type="text" class="form-control" ng-model="user.identity" ng-pattern="/^[a-zA-Z0-9/]{8}$/" placeholder="Staff ID" required >
          </div>  
          <div class="form-group">
             <input type="password" placeholder="Password" class="form-control " ng-model="user.password" required>
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login('staff')" ng-disabled='form.$invalid'>
            <span class="text" ng-hide="loading">Sign in </span>
            <span class="text" ng-show="loading">Signing in... </span> 
            <i class="fa fa-spin fa-spinner" ng-show="loading"  ng-class="{'fa-spin' : loading}"id="spin"></i>
          </button>          
        </form>     
      </tab>     
    </tabset>

  </div>
  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div>
</div>